<section class="container rounded mt-5 py-2">
  <div class="row errorBlock m-2 rounded justify-content-center align-items-center">
    <h1 class="text-danger" style="font-size: 3em"><i class="fas fa-exclamation-triangle fa-lg"></i></h1>
    <h1 class="text-danger my-2">Page Not Found</h1>
    <p>Please check the requested URL.</p>
  </div>
</section>